<div id="back_btn"><a href="/projects/<%= @project.id()%>"><button class="btn btn-default">Back</button></a></div>
<div id="edit-panel" class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit: <%= @project.title %></h3>
  </div>
  <div class="panel-body">
    <form action="/projects/<%= @project.id()%>/edit" method="post">
      <input name="_method" type="hidden" value="patch">
      <div class="form-group">
        <label for="title">Project's Title</label>
        <input id="title" name="title" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-lg">Update Project</button>
    </form>
    <form action="/projects/<%= @project.id()%>/edit" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" class="btn btn-lg">Delete Project</button>
    </form>
  </div>
</div>
