<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Current Projects</h3>
  </div>
  <div class="panel-body">
    <table id="plist" class="table table-hover">
      <thead>
        <tr>
          <th>Project's Title</th>
          <th>Assigned Volunteers</th>
        </tr>
      </thead>
      <% @projects_list.each do |project| %>
        <tr>
          <td> <a href="/projects/<%= project.id()%>"><%= project.title() %></a> </td>
          <td>
            <ul>
              <% project.volunteers().each do |volunteer| %>
              <li><a href="/volunteers/<%= volunteer.id()%>"><%= volunteer.name() %></a></li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default" id="add_project">
  <div class="panel-heading">
    <h4>Add a New Project</h4>
  </div>
  <div class="panel-body">
    <form action="/" method="post">
      <div class="form-group">
        <label for="title">Project's Title</label>
        <input name="title" class="form-control" type="text">
      </div>
      <button type="submit" class="btn-lg">Create Project</button>
    </form>
  </div>
</div>
