<div class="panel" id="add_project">
  <div class="panel-heading">
    <h1><%= @project.title %></h1>
  </div>
  <div class="panel-body">
  <a href="/projects/<%= @project.id()%>/edit">Edit Project</a> </td>"
  </div>
</div>
